/*Navigation*/
.container-fluid {
	background-color: #e6eef2;
	text-transform: uppercase;
	font-family: "brandon-grotesque";
}

#banner{
	margin-top: -8px;
}

/*Filter Top Section*/
.filter{
	margin-left: 50px;
	margin-top: 50px;
}

h2 {
    font-family: "brandon-grotesque";
    font-size: 1.5em;
    color:#336e94;
    text-transform: uppercase;
}

h1 {
    font-family: "brandon-grotesque";
    font-size: 3.5em;
    color:#336e94;
    line-height: 0.7;
    padding-bottom: 30px;
}

#cardbox{
    margin: 75px 50px 0px 50px; 
}

.cards {
    background-color: #fff;
    height:700px;
    border-right: 5px solid #fff;
}

.card-map img{
    max-width: 100%;
    border: 1px solid #fff;
    margin-top: 10px;
}

.card-info {
    font-style: italic;
}

h3 {
    font-family: "brandon-grotesque";
    height:30px;
    font-size: 1.2em;
    text-transform: uppercase;
    color:#336e94;
    background-color:#e6eef2;
    padding: 5px 0px 0px 15px;
}
h4 {
    font-family: "brandon-grotesque";
    font-size: 1.5em;
    color:#336e94;
}

h5 {
    font-family: "brandon-grotesque";
    font-size: 1.3em;
    color:#000;
    padding-bottom: 10px;
}

p {
    font-family: "brandon-grotesque";
    font-size: 1.1em;
    color:#000;
}

.card-info span{
    font-size: 0.9em;
    display:block;
}